<div class="row p-0 m-0">
  <div class="col p-0 m-0">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="LISTA DE VIVEIROS">
        <div class="row p-2 m-0">
          <div class="col-12">
            <h5 class="text-center">Meus Viveiro</h5>

          </div>
        </div>
        <div class="row p-2 m-0">
            <div class="col-12 ">
                <h5>DESPESCAGEM ATRASADA</h5>
                <mat-divider class="mb-2"></mat-divider>
            </div>
          <div class="col-sm-2">
            <mat-card class="example-card">
              <img
                mat-card-image
                src="../../../../assets/imgs/default.jpg"
                alt="Photo of a Shiba Inu"
              />
              <mat-card-content>
                <h5>Viveiro 001</h5>
                <h4>PEIXES TAMBAQUI</h4>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>EDITAR</button>
                <button mat-button>VISUALIZAR</button>
              </mat-card-actions>
            </mat-card>
          </div>
          <div class="col-sm-2">
            <mat-card class="example-card">
              <img
                mat-card-image
                src="../../../../assets/imgs/default.jpg"
                alt="Photo of a Shiba Inu"
              />
              <mat-card-content>
                <h5>Viveiro 001</h5>
                <h4>PEIXES TAMBAQUI</h4>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>EDITAR</button>
                <button mat-button>VISUALIZAR</button>
              </mat-card-actions>
            </mat-card>
          </div>
          <div class="col-sm-2">
            <mat-card class="example-card">
              <img
                mat-card-image
                src="../../../../assets/imgs/default.jpg"
                alt="Photo of a Shiba Inu"
              />
              <mat-card-content>
                <h5>Viveiro 001</h5>
                <h4>PEIXES TAMBAQUI</h4>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>EDITAR</button>
                <button mat-button>VISUALIZAR</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
        <div class="row p-2 m-0">
            <div class="col-12">
                <h5>EM PROCESSO DE ENGORDA</h5>
                <mat-divider class="mb-2"></mat-divider>
            </div>
          <div class="col-sm-2">
            <mat-card class="example-card">
              <img
                mat-card-image
                src="../../../../assets/imgs/default.jpg"
                alt="Photo of a Shiba Inu"
              />
              <mat-card-content>
                <h5>Viveiro 001</h5>
                <h4>PEIXES TAMBAQUI</h4>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>EDITAR</button>
                <button mat-button>VISUALIZAR</button>
              </mat-card-actions>
            </mat-card>
          </div>
          <div class="col-sm-2">
            <mat-card class="example-card">
              <img
                mat-card-image
                src="../../../../assets/imgs/default.jpg"
                alt="Photo of a Shiba Inu"
              />
              <mat-card-content>
                <h5>Viveiro 001</h5>
                <h4>PEIXES TAMBAQUI</h4>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>EDITAR</button>
                <button mat-button>VISUALIZAR</button>
              </mat-card-actions>
            </mat-card>
          </div>
          <div class="col-sm-2">
            <mat-card class="example-card">
              <img
                mat-card-image
                src="../../../../assets/imgs/default.jpg"
                alt="Photo of a Shiba Inu"
              />
              <mat-card-content>
                <h5>Viveiro 001</h5>
                <h4>PEIXES TAMBAQUI</h4>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>EDITAR</button>
                <button mat-button>VISUALIZAR</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
        <div class="row p-2 m-0">
            <div class="col-12">
                <h5>DESPESCADOS</h5>
                <mat-divider class="mb-2"></mat-divider>
            </div>
          <div class="col-sm-2">
            <mat-card class="example-card">
              <img
                mat-card-image
                src="../../../../assets/imgs/default.jpg"
                alt="Photo of a Shiba Inu"
              />
              <mat-card-content>
                <h5>Viveiro 001</h5>
                <h4>PEIXES TAMBAQUI</h4>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>EDITAR</button>
                <button mat-button>VISUALIZAR</button>
              </mat-card-actions>
            </mat-card>
          </div>
          <div class="col-sm-2">
            <mat-card class="example-card">
              <img
                mat-card-image
                src="../../../../assets/imgs/default.jpg"
                alt="Photo of a Shiba Inu"
              />
              <mat-card-content>
                <h5>Viveiro 001</h5>
                <h4>PEIXES TAMBAQUI</h4>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>EDITAR</button>
                <button mat-button>VISUALIZAR</button>
              </mat-card-actions>
            </mat-card>
          </div>
          <div class="col-sm-2">
            <mat-card class="example-card">
              <img
                mat-card-image
                src="../../../../assets/imgs/default.jpg"
                alt="Photo of a Shiba Inu"
              />
              <mat-card-content>
                <h5>Viveiro 001</h5>
                <h4>PEIXES TAMBAQUI</h4>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>EDITAR</button>
                <button mat-button>VISUALIZAR</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </mat-tab>
      
      <mat-tab label="CRIAR VIVEIRO">
        <app-editor></app-editor>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
