<div class="row  m-0 p-0 d-flex justify-content-center align-items-center">
  <div class="col-md-6  area-info">
    <div class="row vh-100 d-flex align-items-center">
      <div class="col p-5">
        <h1 class="text-center">PORQUE USAR DEUPEIXE?</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et
          eros hendrerit, imperdiet nisl ac, porttitor dolor. Sed tincidunt vitae
          nibh a tristique. Vestibulum ante ipsum primis in faucibus orci luctus
          et ultrices posuere cubilia curae; Nunc scelerisque leo vitae purus
          facilisis, ac hendrerit velit varius. Sed ac tincidunt libero, at
          faucibus tellus. Phasellus velit felis, tristique ac sapien sit amet,
          bibendum placerat ante. Donec sagittis, est quis pretium pellentesque,
          mauris dui volutpat lorem, ac dignissim eros ligula a ex. Suspendisse et
          elementum velit. Cras bibendum sed tellus id porttitor. Mauris ac
          tincidunt mi, id vehicula urna. Donec vestibulum lobortis ultricies.
          Vestibulum sodales bibendum molestie. Aliquam viverra varius eleifend.
          Mauris dui risus, posuere ac mattis at, sollicitudin vel leo. Etiam id
          nisi ut metus eleifend tincidunt. Nulla rutrum ullamcorper ex, sed
          lacinia sapien mattis hendrerit. Proin aliquam tempus felis ut dictum.
          Sed accumsan dignissim mi nec sollicitudin.
        </p>

      </div>
    </div>

  </div>
  <div class="col-md-6 area-login ">
    <form [formGroup]="form">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-8">
          <div class="row ">
            <div class="col p-2">
              <h1 class="text-center">LOGIN/CADASTRAR</h1>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <button (click)="loginGoogle()" class="w-100 btn btn-lg btn-danger btn-login" type="button">
                <i class="bi bi-google"></i> Entrar com sua conta Google
              </button>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <button class="w-100 btn btn-lg btn-primary btn-login" type="submit">
                <i class="bi bi-facebook"></i> Entrar com sua conta Facebook
              </button>
            </div>
          </div>
          <div class="row mb-3 text-center">
            <div class="col">
              <h3>Ainda Não Tem Uma Conta? </h3>
              <p>É simples e Gratuito! Basta entrar com uma das opções disponíveis.</p>
            </div>
          </div>
        </div>
      </div>


    </form>
  </div>
</div>
