.container-area{
    background-color: var(--primary-color);
    /* color: var(--color-white); */
}
.area-info{
    background-color: var(--primary-color);
    color: var(--primary-lighter-color)
}
.area-login{

}
.btn-login{
    padding: 30px;
}

.full-width{
    width: 100%;
}