<div class="row d-flex justify-content-between menu-profile p-2">
    <div class="col">
      <div class="d-flex justify-content-end">

          <div class="mx-1">
              <button mat-icon-button [matMenuTriggerFor]="beforeMenu">
                <img src="assets/imgs/brasil.png" style="width: 80%;">
              </button>
              <mat-menu #beforeMenu="matMenu" xPosition="before">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
              </mat-menu>
          </div>
          <div class="mx-1">
              <button mat-button [matMenuTriggerFor]="beforeMenu">Bruno Monteiro
                <button mat-icon-button mat-raised-button color="primary">
                  <i class="bi bi-person"></i>
                  </button>
                  </button>
              <mat-menu #beforeMenu="matMenu" xPosition="before">
                <button mat-menu-item>Item 1</button>
                <button mat-menu-item>Item 2</button>
              </mat-menu>
          </div>
      </div>
    </div>
  </div>
<!-- <div class="row d-flex justify-content-between menu-profile p-0">
    <div class="col mb-4">
      <div class="d-flex justify-content-start">
          <div class="mx-1">
            <h2>Meus Viveiros</h2>
          </div>
      </div>
    </div>
</div> -->
  